:root {
  font-size: 14px;
}

h1, .h1 {
  font-size: 2.3rem;
}


h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.3rem;
}

h5,
.h5 {
  font-size: 1.15rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.breadcrumb {
  font-size: 0.8rem;
  opacity: 0.75;
  background-color: lighten(#e9ecef, 3%) ;
}

.dropdown-item > .argon-doku-navbar-icon {
  fill: #8898aa;
}

.leftsidebar h1, .leftsidebar h2 .leftsidebar h3,.leftsidebar h4, .leftsidebar h5,.leftsidebar h6 {
  display: block;
  margin-top:1rem;
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.leftsidebar .ct-toc-link {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
}

.leftsidebar  p {
  margin: 0 0 0 1.5em;
  padding: 0 0 0 1.5em;
  line-height: 1.2;
}

.leftsidebar .wikilink1, .leftsidebar .wikilink2, .leftsidebar .wikilink3 {
  list-style-type: none;
  display: block;
  font-size: 84%;
  padding: 0.25rem;
  color: #4c555a;
  font-weight: 400;
  margin-bottom: -1rem;
}

.page-info {
  opacity: 0.8;
  font-style: italic;
  font-size: 0.8rem;
}

.doku_form .no #qsearch__in.edit {
  height: auto;
}

.footer-card {
  font-size: 0.8rem;
  text-align: left;
}

.page-menu__link  svg {
  fill: #6c757d;
}

.floating-top-button {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 1000;
  .btn {
    background-color: white;
    border-color: lighten(#919ca6, 20%);
    padding: 0.75rem;
    font-size: 0.8rem;
    i {
      margin: 0;
    }
    .page-menu__link .tool-link svg {
      width: 20px;
      height: 20px;
      fill: greenyellow;
    }
  }
}
